@font-face {
  font-family: "iconfont"; /* Project id 4689264 */
  src: url('iconfont.woff2?t=1726759484760') format('woff2'),
       url('iconfont.woff?t=1726759484760') format('woff'),
       url('iconfont.ttf?t=1726759484760') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: inherit;
  font-style: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\e66f";
}

.icon-google:before {
  content: "\e620";
}

.icon-zhihu:before {
  content: "\e6ba";
}

.icon-baidu:before {
  content: "\e66b";
}

.icon-bing:before {
  content: "\eb4c";
}

